

.box {
    height: 100vh;
    // margin-top: 2rem;
    background-color: black;
}

.Chefs {
    color: white;
    text-align: right;
    margin-right: 3rem;
    margin-bottom: 20px;
    margin-top: 3rem;
}